MONGO_URI=Your MONGO_URI_here
JWT_SECRET=your_jwt_secret_here
PORT=3000
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=Cloudinary_Cloud_Name_here
CLOUDINARY_API_KEY=Your_Cloudinary_API_Key_here
CLOUDINARY_API_SECRET=Your_Cloudinary_API_Secret_here
EMAIL_USER=Your_Email_here
EMAIL_PASS=Your_Email_Password_here(App_Password if 2FA enabled)
